#line {
  width: 100%;
  height: 10px;
  background-color: #fa4d00;
}

.container {
  width: 70%;
}

body {
  background: #c15b2a;
}

header img {
  padding: 1em;
  background-color: #fa4d00;
}

#headimg {
  position: relative;
  top: -10px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  overflow: auto;
}

section h1 {
  font-size: 200%;
}

section #leftdiv {
  width: 65%;
  padding-top: 10px;
  float: left;
}

section #rightdiv {
  width: 35%;
  padding-top: 10px;
  float: right;
}

/* Navigation */

nav {
  float: right;
  background-color: white;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
  overflow:hidden;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav div#search {
  float: right;
}

/* Top Level Menu */

#menu {
  position: relative;
  background-color:#fa4d00;
  font-size:24px;
}

#menu ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

#menu ul li {
  float:left;
  padding-left:12px;
  font: century;
}

#menu a:link,a:visited {
  display:block;
  width:120px;
  font-weight:bold;
  color:#FFFFFF;
  text-align:center;
  padding:4px;
  text-decoration:none;
  text-transform:uppercase;
}

#menu a:hover,a:active {
  background-color:#FFFFFF;
  color: #46a0c5;
}

  #menu li:hover ul {
    display: block;
    width: 240px;
    }

  #menu ul li ul {
    display: block;
    }

  #menu ul li ul {
    background-color:#FFFFFF;
    list-style-type:none;
    position: absolute;
    z-index: 500;
  }

  #menu ul li ul a {
    display:block;
    background-color:#FFFFFF;
    color:#fa4d00;
  }
  
  #menu ul li ul a:hover {
  color:#46a0c5;
  background-color:#FFFFFF;
  }

div#menu ul li ul,
div#menu ul li:hover ul
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;} 

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */
footer {
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  width: 100%;
  height: auto;
  margin-bottom:10px;
}

footer nav ul {
  list-style-type:none;
}

footer nav ul li {
  text-decoration: bold;
  font-size: 14px;
  padding: 10px;
}

footer nav ul li ul li {
  text-decoration: none;
  padding: 0px;
  font-size: 12px;
  display:block;
  z-index: 500;
}

#socialmedia {
  margin-left: 10px;
  margin-right: auto;
}

/* Slideshow */

#slideshow {
  height: 200px;
}

img#slideshow { 
  width: 100%;
}

