<%= slideshow () %>
<div class="slideshow">
<div id = "slideshow1">
<%= image_tag("Tulips.jpg", :alt => "Tulips", :class => "round", :id => "slideshow") %>
<%= image_tag("Penguins.jpg", :alt => "Penguins", :class => "round", :id => "slideshow") %>
<%= image_tag("Jellyfish.jpg", :alt => "Penguins", :class => "round", :id => "slideshow") %>
</div>
</div>
